<div class="col-md-6 offset-md-3">
  <h3>Ajouter un nouveau employé</h3>
  <form>
    <!--(ngSubmit)='onSubmit()'-->
    <div>
      <label class="form-label">Prénom </label>
      <input type="text" name="firstName" class="form-control" [(ngModel)]="employee.firstname" />
    </div>
    <div>
      <label class="form-label">Nom</label>
      <input type="text" name="firstName" class="form-control" [(ngModel)]="employee.lastname" />
    </div>
    <div>
      <label class="form-label">Email</label>
      <input type="email" name="mail" class="form-control" [(ngModel)]="employee.email" />
    </div>
    <div>
      <label class="form-label">Salaire</label>
      <input type="number" name="salaire" class="form-control" [(ngModel)]="employee.salary" />
    </div>
    <div>
      <label class="form-label">Nombre d'années d'expérience</label>
      <input type="number" name="experience" class="form-control" [(ngModel)]="employee.experience" />
    </div>
    <button class="btn btn-success" (click)="add()">Enregister</button>
  </form>
</div>
