<div class="form-group col-md-6 offset-md-3 mt-1">
  <input class="form-control me-sm-2" type="text" placeholder="Recherche par nom et/ou prenom...">
</div>
<div class="row" >
  <div class="col-md-4" *ngFor="let employee of employees">
    <div class="card  mb-2 mt-2" style="max-width: 20rem;">
      <div class="card-header">{{employee.firstname | uppercase}} {{employee.lastname}}, <span class="font-weight-bold">{{employee.profession}}</span></div>
      <div class="card-body">
        <h4 class="card-title"><img src="../../assets/images/{{employee.photo}}" class="rounded img-fluid"></h4>
        <p class="card-text">{{employee.experience}} ans d'expérience</p>

      </div>
    </div>

  </div>
</div>




