<div class="container">
<p class="text-primary fs-4 text-center">Liste des employés</p>

<button routerLink="/create" class="btn btn-outline-info">
  Nouveau Employé</button>

<table class="table table-striped">
  <thead>
    <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Salaire</th>
    <th>Niveau d'expérience</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.firstname}}</td>
      <td>{{employee.lastname}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.salary}}</td>
      <td *ngIf="employee.experience < 2"><span class="text-info">Junior</span> </td>
      <td *ngIf="employee.experience >= 2 && employee.experience <= 3"><span class="text-primary">Confirmé</span></td>
      <td *ngIf="employee.experience > 3"><span class="text-success">Senior</span></td>

      <td><button class="btn btn-outline-success"
        (click)="deleteEmploye(employee.id)" >
        <i class="fas fa-trash-alt"></i></button></td>
      <td><button class="btn btn-outline-danger"(click)="editEmploye(employee.id)">
        <i class="fas fa-edit"></i></button></td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
<ul class="nav nav-pills ">
<li *ngFor="let item of [].constructor(this.totalPages); let i=index">
  <a  (click)= "getOnePageOfEmployee(i)"  class="btn ms-3" [ngClass]="i==currentPage ? 'btn-info': 'btn-outline-info'">{{i}}</a>
</li>
</ul>
</div>
</div>
